@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
.fp_logo {
    background-color: #FFF;
    padding: 11px 14px;
}

.fp_logo img {
    width: 80px;
}

.fp_hero {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 44.79%, #FFFFFF 91.67%), linear-gradient(180deg, #6724BF 0%, #2E1948 100%);
    padding: 28px 17px 700px;
    background-repeat: no-repeat;
    background-size: cover;
    text-transform: uppercase;
}

.fp_hero p {
    font-weight: 400;
    font-family: Lato;
    color: #FFF;
    font-size: 22px;
    line-height: 34px;
    text-align: center;
    text-transform: capitalize;
}

.fp_payment_form_container {
    margin: -700px 16px 0px;
    border: none !important;
    width: calc(100% - 32px) !important;
    padding: 19px 14px !important;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
}

.fp_payment_form_container input,
.fp_payment_form_container input.elInput.elInputBR0,
input.elInput.elInputBR5,
.fp_payment_form_container select,
.fp_payment_form_container select.elInput.elInputBR0,
select.elInput.elInputBR5 {
    border: 1px solid rgba(51, 51, 51, 0.2);
    border-radius: 3px !important;
    box-shadow: none !important;
}

.fp_payment_form_container input:focus,
.fp_payment_form_container input.elInput.elInputBR0:focus,
input.elInput.elInputBR5:focus,
.fp_payment_form_container select:focus,
.fp_payment_form_container select.elInput.elInputBR0:focus,
select.elInput.elInputBR5:focus {
    outline-color: #7932D4;
    border: 1px solid #7932D4;
}

.fp_tooltip_container {
    display: flex;
    justify-content: center;
    color: #FFF;
    margin-bottom: 22px;
    position: relative;
}

.fp_tooltip {
    display: flex;
    align-items: center;
}

.fp_tooltip:first-child {
    margin-right: 40px;
}

.fp_tooltip_number {
    font-size: 28px;
    font-weight: 600;
    font-family: 'Lato';
    margin-right: 8px;
}

.fp_tooltip_title {
    font-family: 'Lato';
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
}

.fp_tooltip_text {
    display: none;
}

.fp_tooltip_icon {
    display: inline-block;
}

.fp_tooltip_icon img {
    width: 14px;
    position: relative;
    top: 0px;
    left: 3px;
    background-color: #FFF;
    border-radius: 50%;
    height: 14px;
    object-fit: contain;
    padding: 2px;
}

h3.fp_form_title {
    color: #494949;
    font-weight: 600;
    font-size: 18px;
}

.fp_tooltip_text {
    display: none;
    position: absolute;
    background: rgb(255, 255, 255);
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
    color: #494949;
    text-transform: capitalize;
    font-size: 12px;
    padding: 12px;
    width: 300px;
    margin-top: 9px;
    z-index: 9;
    line-height: 18px;
}

.fp_tooltip_icon.active .fp_tooltip_text {
    display: block;
}

.panel-title {
    text-align: center;
    font-weight: 400;
}

.fp_tooltip_icon.active:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-right-width: 8px;
    border-left-width: 8px;
    border-bottom: 10px solid rgb(255, 255, 255);
    position: absolute;
    bottom: -9px;
}

.fp_tooltip:first-child .fp_tooltip_text {
    left: 0;
}

.fp_tooltip:nth-child(2) .fp_tooltip_text {
    right: 0;
}

.fp_close {
    position: absolute;
    right: 6px;
    bottom: 4px;
    cursor: pointer;
}

.cfpt-payment-options-container {
    display: flex;
    flex-wrap: wrap;
    border: none;
    box-shadow: none !important;
}

.cfpt-payment-selector {
    width: 48%;
    order: 1;
    background-color: #FFF !important;
    border: 1px solid rgba(51, 51, 51, 0.2) !important;
    border-radius: 3px !important;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
}

.cfpt-payment-selector:first-child {
    margin-right: 4%;
}

.cfpt-payment-options-container .panel-body {
    width: 100%;
    order: 2;
}

.payment-option-radio {
    position: absolute;
    top: -8px;
    left: -7px;
    background-color: #FFF;
}

div.credit-card-icons {
    position: initial;
    right: initial;
    top: initial;
}

img.credit-card-icon {
    height: initial;
    max-width: 100%;
}

.cfpt-payment-options-container .panel-body {
    padding: 1rem 0 !important;
}

.ccCardText.ccInputText {
    display: none;
}

div#card-element {
    background: #FAFAFA;
    border: 1px solid rgba(51, 51, 51, 0.2);
    border-radius: 0;
}

a.fp_cta {
    background-color: #FF1400 !important;
    border-radius: 3px;
    padding: 7px 0 0 !important;
    width: 100%;
    height: 40px;
    font-size: 16px !important;
    font-family: 'Lato';
    text-align: center !important;
}

.cfpt-active-pay-option {
    border-color: #7932D4 !important;
}

.cfpt-payment-selector .panel-title {
    position: initial !important;
}

.cfpt-active-pay-option i.payment-option-radio.fa:before {
    color: #7932D4 !important;
}

.fp_cta_container {
    margin-top: -15px !important;
}

.fp_cart_header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Lato';
    border-bottom: 1px solid #C4C4C4;
    padding-bottom: 10px;
}

.fp_cart_item {
    display: flex;
    margin-top: 10px;
    color: #494949;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 23px;
}

.fp_cart_item div:first-child {
    text-align: left;
    display: flex;
    align-items: flex-end;
}

.fp_cart_item:last-child {
    text-align: right;
}

.fp_cart_item div:last-child span {
    font-size: 12px;
    font-weight: 500;
}

.fp_cart_item div:last-child div {
    font-weight: 600;
    white-space: pre;
}

.fp_cart_item div:last-child span i {
    font-style: normal;
    text-decoration: line-through;
}

.fp_cta_slogan {
    margin-top: 15px !important;
    font-style: italic;
}

.fp_cta_slogan>div {
    font-size: 14px !important;
    font-weight: 300;
}

.fp_lifetime {
    display: flex;
    justify-content: center;
    margin-top: 22px;
}

.fp_lifetime_item {
    margin-right: 35px;
}

.fp_lifetime_item:last-child {
    margin-right: 0;
}

.fp_lifetime_item span {
    font-size: 18px;
    color: #494949;
    font-weight: 600;
}

.fp_lifetime_text {
    font-size: 12px;
    margin-top: 2px;
    font-weight: 300;
}

.fp_lifetime_text .fp_tooltip_icon img {
    background-color: #494949;
    padding: 3px;
}

.fp_lifetime_text .fp_tooltip_icon.active .fp_tooltip_text {
    display: block;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    z-index: 9999;
}

.fp_lifetime_text .fp_tooltip_icon.active:after {
    bottom: initial;
    border-bottom: 10px solid rgba(255, 255, 255, .95);
}

div#row--31089 {
    display: flex;
    overflow: auto;
}

div#row--31089>.col_right {
    margin-top: 0px !important;
}

div#row--31089 img {
    max-width: 80vw;
}

.p-3 {
    padding: 15px;
}

.fp_lastCTA {
    background-color: #FF1400 !important;
    border-radius: 3px !important;
    border: none;
    font-family: 'Lato';
    font-size: 16px !important;
    width: 288px;
    height: 40px;
}

div b,
strong,
label {
    font-size: 14px;
    font-weight: 400;
    color: #494949 !important;
}

.paypal-icon {
    height: 30px !important;
}

.footer {
    padding-top: 10px;
    padding-bottom: 0px;
    outline: none;
    background-color: rgb(42, 47, 54);
    display: block;
}

.footer div.ne {
    text-align: center;
    color: rgba(255, 255, 255, 0.42) !important;
    padding-bottom: 20px;
    line-height: 1.5;
}

.footer div.ne a {
    color: rgb(238, 238, 238);
}

select[name="shipping_country"] {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAALCAYAAAB/Ca1DAAAACXBIWXMAABCcAAAQnAEmzTo0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAETSURBVHgBpZI9boNAEIVZI0ToXKZ0AX1yA9IBlblBbhClSxenSxfnBDmClQo6ryvbd6DgCLiixO9Ju9IIgy3bI8HO7zczC45jJE3TuXOjyNoJX1mWfeJYIbCO43h6BYuwH9aC8UdbJUkSK6XWIqfuuu6lLMv6HIiNgyBYURXu3K2qqg7DEExlA1Poc/j+EWuGYBhi5nneFuqTcP8WRbF0qaFQR1F0YK6AvgK6Z8M+zGw0sz5s9IWNPqi71onCHQAbTgfzgQ+hbMSYgdnreRQ93gH7toYaWqc/AewFjgaTLEUq7RwwLetPgGPQnox+uMlQNhN933+Gqq+BjU4oBf8Z13wzpm7bNtdaN849gitYGPBFOQK7QnMwgFkFEQAAAABJRU5ErkJggg==');
    background-repeat: no-repeat;
    background-size: 14px;
}

@media (max-width: 340px) {
    .fp_payment_form_container {
        margin: -700px 0px 0px;
    }
}

.fp_imageWrapper img {
    max-width: 100%;
}

.fp_imageWrapper i {
    color: #494949;
    font-style: normal !important;
    margin-top: 20px;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
}

.fp_imageWrapper>div {
    width: 80%;
    margin: auto;
    color: #494949;
}