p.fp__headline {
    margin: 0;
}

.fp__playground {
    width: 80%;
    height: calc(100vh - 157px);
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    min-height: 620px;
    background-color: #FFF;
}

span.fp__close {
    font-size: 12px;
    color: #636363;
    position: fixed;
    right: auto;
    top: auto;
    text-decoration: underline;
    cursor: pointer;
    transition: all .2s;
    margin-top: -150px;
    margin-left: 130px;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
    overflow: scroll;
}

span.fp__close:hover {
    color: #000;
}

div.fp__sticky-donation {
    display: none !important;
}

.fp__overlay {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    height: 100%;
}

.fp__overlay__content {
    min-width: 364px;
    max-width: 430px;
    background-color: rgb(255, 255, 255);
    margin-left: auto;
}

.fp__hero__image {
    width: calc(100% - 370px);
    height: 100%;
    margin-right: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.fp__overlay__supporters {
    min-width: 341px;
    max-width: 45vw;
    min-height: 200px;
    background-color: rgba(255, 255, 255, .9);
    padding: 0 20px 15px 0;
    overflow: auto;
    display: none;
    position: relative;
    box-sizing: border-box;
}

.fp__overlay__supporters .fp__supporters__container {
    justify-content: center;
}

.fp__overlay__supporters h2 {
    font-size: 20px;
    color: #656565;
}

.fp__supporters__container {
    display: flex;
    align-items: center;
    padding: 5px 25px 0px;
    margin: 52px 0 50px;
}

.fp__supporters__description {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: .5rem;
}

.fp__supporters__title {
    color: #4A4A4A;
    font-size: 14px;
    margin-bottom: 4px;
}

.fp__supporters__slogan {
    font-size: 1rem;
    color: #E9960A;
    display: flex;
    align-items: center;
}

.fp__supporters__slogan svg {
    width: 16px;
    margin-right: 3px;
}

.fp-donation-box-circle--mini {
    width: 62px;
    height: 62px;
    position: relative;
}

.fp-donation-box-circle--mini canvas {
    max-width: 100%;
}

.fp-donation-box-circle--mini span {
    position: absolute;
    left: 49%;
    top: 46%;
    font-size: 28px;
    transform: translate(-50%, -50%);
    color: #fff;
}

.fp-donation-box-circle--mini p {
    margin: 0;
    font-size: 12.5px;
    text-decoration: underline;
    color: #636363;
    margin-top: -7px;
    cursor: pointer;
}

.fp__linearProgress {
    padding: 30px 0px 10px;
    position: relative;
    margin-top: 10px;
    margin-right: 25px;
    margin-left: 25px;
}

.fp__emojies {
    display: flex;
    justify-content: space-between;
}

.fp__emojies .book {
    width: 150px;
    font-size: 11px;
    display: flex;
    align-items: center;
    line-height: 1.1;
    position: absolute;
    top: 51px;
    text-align: left;
}

.fp__emojies .book svg {
    margin-right: 7px;
}

.fp__emojies .book span {
    color: #4B4B4B;
}

.fp-progress-container {
    width: 100%;
    position: relative;
    height: 4px;
    background: #dfdfdf;
    margin: 7px 0;
}

.fp-progress--green {
    background: #5ba208;
}

.fp-progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.fp__remained,
.fp__raised {
    color: #4A4A4A;
    font-size: 27px;
    position: absolute;
    top: 10px;
    z-index: 9;
}

.fp__remained {
    right: 0;
}

.fp__remained span,
.fp__raised span {
    font-size: 13px;
    color: #868688;
}

.fp__header h1 {
    font-size: 33px;
    color: #000;
    text-align: left;
    padding-left: 28px;
    padding-right: 28px;
    font-weight: 400;
    margin-bottom: 14px;
}

.fp__header h2 {
    font-size: 23px;
    line-height: 37px;
    color: #3b3b3b;
    text-align: left;
    padding-left: 28px;
    padding-right: 28px;
    font-weight: 400;
    margin-top: 0;
}