html {
    scroll-behavior: smooth;
}

.fp__hero__image {
    position: relative;
    margin-bottom: -5rem;
    z-index: -1;
}

.fp__hero__image:after {
    content: '';
    display: block;
    background: rgb(255, 255, 255);
    background: linear-gradient(180.42deg, #FFFFFF 26.22%, rgba(255, 255, 255, 0.483688) 48.54%, rgba(255, 255, 255, 0) 66.31%);
    transform: rotate(180deg);
    width: 100%;
    height: 140px;
    position: absolute;
    bottom: 0;
}

.fp__header h1 {
    font-size: 27px;
    line-height: 33px;
    margin: 0;
    color: #000;
}

.fp__header h2 {
    font-size: 19px;
    line-height: 22px;
    margin: 0;
    color: #000;
}

div.fp__donation {
    margin-top: 10px;
}

.d-none {
    display: none;
}

.fp__supporters__container {
    display: flex;
    align-items: center;
    padding: 5px 20px 10px;
    margin: .75rem 0;
}

.fp__supporters__description {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: .5rem;
}

.fp__supporters__title {
    color: #4A4A4A;
    font-size: 14px;
    margin-bottom: 4px;
}

.fp__supporters__slogan {
    font-size: 1rem;
    color: #E9960A;
    display: flex;
    align-items: center;
}

.fp__supporters__slogan svg {
    width: 19px;
    margin-right: 3px;
}

.fp-donation-box-circle--mini {
    width: 48px;
    height: 48px;
    position: relative;
}

.fp-donation-box-circle--mini canvas {
    max-width: 100%;
}

.fp-donation-box-circle--mini span {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 1rem;
    transform: translate(-50%, -50%);
    color: #fff;
}

.fp__linearProgress {
    background-color: #f1f1f1;
    padding: 30px 20px 35px;
    position: relative;
}

.fp__emojies {
    display: flex;
    justify-content: space-between;
}

.fp__emojies .book {
    width: 90px;
    font-size: 11px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.1;
    position: absolute;
}

.fp__emojies .book svg {
    margin-bottom: 7px;
}

.fp__emojies .book span {
    color: #4B4B4B;
}

.fp-progress-container {
    width: 100%;
    position: relative;
    height: 4px;
    background: #dfdfdf;
    margin: 7px 0;
}

.fp-progress--green {
    background: #5ba208;
}

.fp-progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.fp__remained {
    color: #4A4A4A;
    font-size: 20px;
    position: absolute;
    top: 10px;
    z-index: 9;
    background-color: #f1f1f1;
}

.fp__remained span {
    font-size: 10px;
    color: #868688;
}

p.fp__donation-box-default-second:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: #F1F1F1 transparent;
    display: block;
    z-index: 1;
    top: -10px;
    left: 21px;
}

p.fp__donation-box-default-second {
    cursor: pointer;
    display: block;
    position: relative;
    padding: 4px 0px 5px 12px;
    background: #F1F1F1;
    text-align: left;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin: 5px auto;
    width: 80%;
    font-size: 12px;
    box-sizing: border-box;
    color: #3B3B3B;
}

.bus-donation,
.fp__countDown {
    display: none !important;
}

@media (max-width: 375px) {
    body>div:nth-child(2)>div>div>div a.fp-donation-box-circle--mini {
        width: 48px !important;
    }
}


/*Donation Boxes Styles*/

.fp-donation-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #E2E2E2;
    padding: 14px 0;
    box-sizing: border-box;
}

.fp-donation-box:last-child {
    border-bottom: none;
}

.fp-donation-box-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 16px;
}

.fp-donation-box-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.fp-donation-box-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #636363;
    color: #ffffff;
    font-size: 28px;
    font-weight: normal;
    border: 3px solid #E9960A;
    box-sizing: border-box;
}

.fp-donation-box-donated {
    font-size: 11px;
    color: #ffffff;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.fp-donation-box-profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-right: 3px solid #E9960A;
    border-bottom: 3px solid #E9960A;
    border-top: 3px solid transparent;
    border-left: 3px solid transparent;
    overflow: hidden;
    position: absolute;
    right: -6px;
    bottom: -6px;
}

.fp-donation-box-profile-image {
    width: 100%;
    height: 100%;
    position: relative;
    background: #ffffff;
}

.fp-donation-box-profile-image>img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    transform: translate(-50%, -50%);
}

.fp-donation-name {
    font-size: 17px;
    color: #000000;
}

.fp-donation-comment {
    font-size: 14px;
    color: #636363;
    line-height: 18px;
    margin: 8px 0;
    text-align: left;
}

.fp-donation-date {
    font-size: 12px;
    font-style: italic;
    color: #A0A0A0;
}

.fp-donation-box--top .fp-donation-box-circle {
    background: #ffffff;
    color: #636363;
}

.fp-donation-box--top-badge {
    text-align: center;
    position: relative;
    margin-bottom: 3px;
    font-size: 11px;
    color: #E9960A;
}

.fp-donation-box--top-badge:before {
    content: '';
    position: absolute;
    top: -1px;
    left: -6px;
    transform: translate(-50%, -50%);
    width: 13px;
    height: 13px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAARCAYAAADQWvz5AAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAG2SURBVHgBlVNNUvJAEH09EzBhhRv9qG+DJzCewHADbiAulYXkBMoJKMsftnoC8QbeAG5gdogbY5VG/jLtjBoqghh5m6Q7PS+v33QDKQwuC93+me19y7ULxz/lHtpOJ50T6YB4si8kHaVzYK5Ji46TsN+yy2DUGNxYSrRRn/SIp81+WxebQxd2TdOXmclLVFGOqopUpXQwDL6JwC8YXDr3huhTGJ3+q782ltXOiO5bxaJtD4uYoqx1liXJ7Tn5oWLlKxKhiFUIC0FaFSV9y7zoMqGI1RBsHkZb5uXDo5I/DGKhdnQDwQokPeNVEszMNjIVceVPZArXkZOvLLSWxpP2arw26iYmL4BwtXkQ7c+nrcFZoaqvdJeUwstorbnuh6EezBAZeGzlXDj5vTjmZyh1Z0GyDui2VH+7At4+FWHsLmVgeOax4U96/bYMianKQngLrRmFkLj5CoMp4AuGK4Gj5FajUX59SytPnxMLPxTkEZuZQVMbuvP/MOqU6tGJuVUFXJuagjX2kAWjKFkRA7MaZlhnsf72eJFzsSoezp3G/Pb/BJFVoFt1SVKmAiurQMTokJgGWXXv9vu7kew3ZEYAAAAASUVORK5CYII=);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}