html{
	scroll-behavior: smooth;
}
.fp__hero__image{
	position: relative;
	margin-bottom: -5rem;
	z-index: -1;
}
.fp__hero__image:after{
	content: '';
	display: block;
	background: rgb(255,255,255);
	background: linear-gradient(180.42deg, #FFFFFF 26.22%, rgba(255, 255, 255, 0.483688) 48.54%, rgba(255, 255, 255, 0) 66.31%);
    transform: rotate(180deg);
    width: 100%;
    height: 140px;
    position: absolute;
    bottom: 0;
}
.fp__header h1{
	font-size: 27px;
	line-height: 33px;
	margin: 0;
	color: #000;
}
.fp__header h2{
	font-size: 19px;
	line-height: 22px;
	margin: 0;
	color: #000;
}
div.fp__donation {
    margin-top: 10px;
}
.d-none{
	display: none;
}
.fp__supporters__container{
	display: flex;
	align-items: center;
	padding: 5px 20px 10px;
	margin: .75rem 0;
}
.fp__supporters__description{
	display: flex;
	flex-direction: column;
	text-align: left;
    margin-left: .5rem;
}
.fp__supporters__title {
    color: #4A4A4A;
    font-size: 14px;
    margin-bottom: 4px;
}
.fp__supporters__slogan {
    font-size: 1rem;
    color: #E9960A;
    display: flex;
    align-items: center;
}
.fp__supporters__slogan svg{
	width: 16px;
    margin-right: 3px;
}
.fp-donation-box-circle--mini {
    width: 48px;
    height: 48px;
    position: relative;
}
.fp-donation-box-circle--mini canvas{
	max-width: 100%;
}
.fp-donation-box-circle--mini span{
	position: absolute;
  left: 50%;
  top: 50%;
  font-size: 1rem;
  transform: translate(-50%, -50%);
  color: #fff;
}
.fp__linearProgress{
	background-color: #f1f1f1;
	padding: 30px 20px 35px;
	position: relative;
}
.fp__emojies {
    display: flex;
    justify-content: space-between;
}
.fp__emojies .book{
    width: 90px;
    font-size: 11px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.1;
    position: absolute;
}
.fp__emojies .book svg{
	margin-bottom: 7px;
}
.fp__emojies .book span{
	color: #4B4B4B;
}
.fp-progress-container {
    width: 100%;
    position: relative;
    height: 4px;
    background: #dfdfdf;
    margin: 7px 0;
}
.fp-progress--green {
    background: #5ba208;
}
.fp-progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}
.fp__remained{
	color: #4A4A4A;
	font-size: 20px;
	position: absolute;
    top: 10px;
    z-index: 9;
    background-color: #f1f1f1;
}
.fp__remained span{
	font-size: 10px;
	color: #868688;
	
}
p.fp__donation-box-default-second:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: #F1F1F1 transparent;
    display: block;
    z-index: 1;
    top: -10px;
    left: 21px;
}
p.fp__donation-box-default-second {
    cursor: pointer;
    display: block;
    position: relative;
    padding: 4px 0px 5px 12px;
    background: #F1F1F1;
    text-align: left;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin: 5px auto;
    width: 80%;
    font-size: 12px;
    box-sizing: border-box;
    color: #3B3B3B;
}