@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
.fp_logo {
    background-color: #FFF;
    padding: 11px 14px;
}

.fp_logo img {
    width: 130px;
    margin-left: 9%;
}

.w-50 {
    width: 50%;
}

.pr-50 {
    padding-right: 50px;
}

.fp_hero {
    background-image: url('https://variations-cdn.figpii.com/variations/gravitychallenges/optin-lp/hero-desktop-min.png');
    padding: 70px 10% 70px 10%;
    background-repeat: no-repeat;
    background-size: cover;
    text-transform: uppercase;
    display: flex;
}

.fp_hero .title {
    font-weight: 700;
    font-family: Lato;
    color: #FFF;
    font-size: 36px;
    line-height: 50px;
}

.fp_hero .subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    font-family: 'Lato';
    color: #FFF;
    text-transform: capitalize;
}

.fp_hero p {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    font-family: 'Lato';
    color: #FFF;
    text-transform: capitalize;
    margin-bottom: 17px;
}

.fp_freeplan_container {
    padding: 17px 15px;
    background-color: #FFF;
    display: none;
}

.fp_hero .cta {
    text-transform: capitalize;
}

.fp_accessBtn {
    width: 300px;
    display: block;
    margin: auto;
    text-align: center;
    color: #FFF;
    height: 40px;
    border-radius: 3px;
    background-color: #5820A0;
    font-weight: 400;
    font-size: 18px;
    border: none;
    text-transform: capitalize;
}

.cta_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 317px;
}

.fp_watch {
    font-weight: 300;
    color: #FFF;
    font-size: 18px;
    line-height: 19px;
    text-transform: capitalize;
    display: block;
    margin: 11px auto 0 auto;
    border-bottom: 1px solid #99979e;
    text-align: center;
    font-family: 'Lato';
}

.fp_freeplan {
    background: rgba(255, 255, 255, .95);
    /*box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);*/
    border-radius: 5px;
    padding: 25px 47px 5px;
}

.fp_freeplan .title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #545454;
    font-family: 'Lato';
}

.fp_freeplan .subtitle {
    font-weight: 300;
    font-size: 18px;
    font-family: 'Lato';
    color: #1a1027;
    margin-top: -5px;
    margin-bottom: 13px;
}

.fp_freeplan_list {
    display: flex;
}

.fp_freeplan_item {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center
}

.fp_freeplan_item:last-child {
    flex-direction: column;
    align-items: flex-start;
}

.fp_freeplan_item:last-child .text {
    display: flex;
    align-items: center;
}

.fp_freeplan_item:last-child .text .label {
    margin-right: 6px;
}

.fp_freeplan_item .label {
    color: #000;
    font-size: 16px;
    font-family: 'Lato';
    font-weight: 300;
    padding: 0;
    text-transform: capitalize;
}

.fp_freeplan_item .value {
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    text-transform: capitalize;
}

.fp_freeplan_item>img {
    margin-right: 15px;
    width: 36.5px;
}

.fp_hero .cta {
    min-width: 317px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    float: left;
    margin-top: 10px;
}


/*.fp_mobile_scetion_container,*/


/*.fp_freeplan {*/


/*    display: none;*/


/*}*/

.fp_mobile_scetion_container .elButton,
.fp_hero .elButton,
.fp_video_container .elButton {
    box-shadow: none;
    border: none;
    padding: 10px 50px;
    margin: auto;
    display: block;
    width: max-content;
}

.fp_mobile_scetion_container span.elButtonMain,
.fp_hero span.elButtonMain,
.fp_video_container span.elButtonMain {
    font-weight: 700;
    font-size: 22px;
    font-family: 'Lato';
}

.fp_mobile_scetion_container span.elButtonSub,
.fp_mobile_scetion_container span.elButtonMain i,
.fp_video_container span.elButtonSub,
.fp_video_container span.elButtonMain i,
.fp_hero span.elButtonSub,
.fp_hero span.elButtonMain i {
    display: none;
}

.fp_mobile_scetion {
    display: flex;
    align-items: center;
    margin: 20px auto;
    padding: 0 20px;
}

.fp_mobile_scetion img {
    max-width: 86px;
}

.fp_mobile_scetion .title {
    color: #1A1027;
    font-family: 'Lato';
    font-weight: 500;
    font-size: 18px;
    padding: 0 0px 0 10px;
    line-height: 30px;
    text-transform: capitalize;
}

.fp_mobile_scetion_container .content {
    font-weight: 300;
    font-family: 'Lato';
    line-height: 23px;
    font-size: 14px;
    color: #1A1027;
    text-transform: capitalize;
}

.fp_newHeadline_container {
    background-color: #FFF;
    padding: 35px 10% 15px;
}

.fp_newHeadline {
    color: #494949;
    font-weight: 700;
    font-size: 34px;
    line-height: 31px;
    text-transform: uppercase;
    font-family: 'Lato';
}

.fp_newDescription {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 22px;
    line-height: 36px;
    padding-right: 35px;
    color: #1A1027;
}

.fp_video {
    padding: 0 !important;
    border: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    margin-top: 0 !important;
    width: 81% !important;
}

.fp_video .elButton {
    margin-top: 60px;
    width: 317px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: inherit !important;
    padding: 0;
}

.fp_video .elButton .elButtonMain {
    font-size: 24px !important;
}

.fp_video_container {
    padding: 0 !important;
}

.fp_video_container .bgCover {
    padding: 0 !important;
}

.fp_progressbar {
    width: 98.5%;
    height: 10px;
    position: relative;
}

.fp_progressbar .overlay {
    background-image: url('https://variations-cdn.figpii.com/variations/gravitychallenges/optin-lp/bg.png');
    width: 98.5%;
    height: 14px;
    position: relative;
    background-size: 9px;
    /*background-repeat-y: no-repeat;*/
    background-position: 4px;
    position: absolute;
    z-index: 2;
}

.fp_progressbar>.carbohydrate {
    position: absolute;
    width: 34%;
    height: 10px;
    top: 0;
    background-color: #5820A0;
}

.fp_progressbar>.protein {
    position: absolute;
    width: 48%;
    height: 10px;
    top: 0;
    background-color: #BDA2DF;
    left: 34%;
}

.fp_progressbar>.fat {
    position: absolute;
    width: 18%;
    height: 10px;
    top: 0;
    background-color: #C4C4C4;
    left: 82%;
}

.fp_progressbar_container {
    position: relative;
    width: 100%;
}

.fp_progressbar_labels {
    display: flex;
    margin-bottom: 23px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
}

.fp_progressbar_labels>div {
    display: flex;
    align-items: center;
}

.fp_progressbar_labels>div>img {
    font-weight: 700;
    font-size: 12px;
    width: 12px;
    position: relative;
    top: -2px;
}

.fp_progressbar_labels>div>img {
    margin-right: 5px;
}

.fp_progressbar_labels .carbohydrate {
    color: #5820A0;
    background-image: url(https://variations-cdn.figpii.com/variations/gravitychallenges/optin-lp/carbohydrate-bg.png);
    bottom: 27px;
    background-position: 0 12px;
    padding-top: 51px;
    background-repeat: no-repeat;
    padding-right: 20px;
    left: 70px;
}

.fp_progressbar_labels .protein {
    color: #BDA2DF;
    background-image: url(https://variations-cdn.figpii.com/variations/gravitychallenges/optin-lp/protein-bg.png);
    top: 25px;
    background-position: 0 24px;
    padding-bottom: 40px;
    background-repeat: no-repeat;
    padding-right: 20px;
    left: 170px;
}

.fp_progressbar_labels .fat {
    background-image: url(https://variations-cdn.figpii.com/variations/gravitychallenges/optin-lp/fat-bg.png);
    color: #C4C4C4;
    top: 0;
    background-position: 0 24px;
    padding-bottom: 40px;
    background-repeat: no-repeat;
    padding-right: 20px;
    left: 70px;
}

.fp_join {
    font-family: Lato;
    font-weight: 300;
    font-size: 18px;
    font-style: italic;
    line-height: 21px;
    text-align: center;
    color: #000;
    margin-top: 7px;
}

.video-sound-overlay .unmute-button {
    background-image: url('https://variations-cdn.figpii.com/variations/gravitychallenges/optin-lp/volume.svg');
    width: 50px;
    height: 50px;
    left: 40px;
    top: 40px;
    position: relative;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.video-sound-overlay img {
    display: none;
}

.activityProgressbar {
    width: 127px;
    height: 13px;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    position: relative;
    margin-bottom: 10px;
    background-color: #FFF;
}

.activityProgressbar:after {
    content: '';
    display: block;
    width: 25%;
    position: absolute;
    height: 13px;
    background: #1A1027;
    top: -1px;
    border-radius: 4px;
}

svg text {
    display: none;
}

div#donut-example {
    max-width: 220px;
    position: relative;
    max-height: 262px;
    display: flex;
    /*align-items: center;*/
}

.donutTotal {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 16px;
    color: #000;
    pointer-events: none;
}

.donutTotal span {
    font-weight: 400;
    line-height: 20px;
}

.fp_progressbar_labels>div {
    position: absolute;
}

.fp_watch:hover,
.fp_watch:focus {
    text-decoration: none;
}

iframe.cf-sticky-video-active {
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    padding: 0 !important;
    left: 0 !important;
    top: 0 !important;
}