.junip-product-summary-star {
    height: 20px;
    width: 20px;
    padding: 2px;
    z-index: inherit;
}

.junip-product-summary-star-ratings-container {
    display: -webkit-inline-box;
    display: inline-flex;
    margin-left: -1px;
    -webkit-box-align: center;
    align-items: center;
}

p.product-card__price.type {
    display: flex;
}

.junip-product-summary-stars-wrapper {
    margin-left: 16px;
}