@media (max-width: 1024px) {
    main div[layout=column] {
        overflow: hidden;
    }
    .fp_progressbar {
        width: 100%;
        padding: 0 20px;
        margin-top: 15px;
    }
    .fp_progressbar svg {
        width: 6px;
        stroke-width: 10px;
        margin: 0 3px;
    }
    .fp_progressbar span {
        color: #737373;
        font-size: 13px;
    }
    .fp_progressbar span:first-child {
        font-weight: bold;
        color: #435A6F;
    }
    .fp_page-title {
        padding: 0 20px;
        font-size: 32px;
        font-weight: 400;
        color: #435A6F;
        font-family: 'DIN CONDENSED BOLD';
        text-align: left;
        width: 100%;
        margin-top: 10px;
    }
    .fp_editBtn {
        text-decoration: underline;
        cursor: pointer;
    }
    a.cart__remove {
        position: absolute;
        top: -10px;
        right: 0;
    }
    .cart__product-wrapper {
        padding-bottom: 70px !important;
    }
    .fp_modal_container {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        border: 0px;
        overflow: hidden;
        z-index: 999999;
        background: none;
        display: none;
    }
    .fp_modal_container--video {
        /*display: block !important;*/
    }
    .fp_modal_klaviyo-bis-close.fadein {
        background: rgba(0, 0, 0, 0.65);
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 15px;
        justify-content: center;
    }
    .fp_container {
        position: relative;
        background: white;
        padding: 12px 18px 40px 18px;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 640px;
        margin: auto;
        min-height: 526px;
    }
    .fp_loading {
        position: absolute;
        display: none;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        background-image: url(https://variations-cdn.figpii.com/variations/look+optic/Cart/loading.svg);
        width: 64px;
        height: 64px;
        background-repeat: no-repeat;
    }
    .fp_close {
        -webkit-appearance: none;
        padding: 0;
        cursor: pointer;
        background: 0 0;
        border: 0;
        position: absolute;
        top: -8px;
        right: -8px;
        font-size: 30px;
        font-weight: 700;
        line-height: 1;
        color: #ccc;
        text-shadow: 0 1px 0 #fff;
        z-index: 999;
        background-color: #435A6F;
        border-radius: 50%;
        width: 42px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .fp_btn {
        color: #fff;
        background-color: #435A6F;
        border: none;
        font-size: 15px;
        padding: 14px;
        line-height: 1.3333333;
        width: 100%;
        text-align: center;
        min-width: 190px;
    }
    .fp_modal-title {
        font-size: 28px;
        color: #435A6F;
        font-family: 'DIN Condensed Bold', 'Din Bold', 'Din Regular', sans-serif !important;
        text-transform: uppercase;
        font-weight: 400;
        margin: 63px auto 20px;
    }
    body.modal-open {
        height: 100vh;
        overflow-y: hidden;
    }
    .fp_appended #ProductPhotoImg {
        width: 100%;
        height: 200px;
        margin: auto;
        object-fit: cover;
    }
    .fp_appended p.lens__title {
        font-size: 12px;
        margin-bottom: 20px;
        font-weight: bold;
    }
    .lo-cart-wrapper .cart__subtotal-wrapper,
    #your-shopping-cart .sticky {
        background-color: transparent !important;
    }
    .cart__checkout-list.fullwidth {
        width: calc(100% + 40px);
        margin-left: -20px !important;
        padding: 0 20px 20px;
        background-color: #F7F7F7;
    }
    .lo-cart-wrapper .cart__subtotal-wrapper {
        border-bottom: 1px solid #D1D1D2 !important;
    }
    .cart__subtotal-wrapper {
        flex-wrap: wrap;
    }
    .fp_shipping,
    .fp_total {
        font-family: 'Avenir Regular';
        font-style: italic;
        font-size: 12px;
        margin-top: 4px;
        color: #515152;
    }
    .cart__taxes {
        display: none !important;
    }
    .lo-cart-wrapper .cart__subtotal-wrapper {
        padding: 18px 0px !important;
    }
    .div.lo-cart-wrapper div.cart__subtotal {
        font-family: 'Avenir Regular' !important;
    }
    .cart__checkout-list__container {
        padding-top: 10px;
    }
    .cart-usp {
        display: none;
    }
    .lens__header.lens__header--afterpay {
        display: none;
    }
    #your-shopping-cart .cart__subtotal {
        font-family: 'AVENIR REGULAR' !important;
        letter-spacing: 0 !important;
    }
    .fp_list {
        padding: 20px 0;
        border-bottom: 1px solid #D1D1D2;
    }
    .fp_list ul {
        margin-bottom: 0;
    }
    .fp_list ul li {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }
    .fp_list ul li:last-child {
        margin-bottom: 0;
    }
    .fp_list ul li svg {
        margin-right: 10px;
    }
    .fp_carts {
        display: flex;
        align-items: center;
        padding: 18px 0;
    }
    .fp_carts img {
        margin-right: 7px;
        max-width: 55px;
        height: auto;
    }
    .fp_carts img.afterpay {
        max-width: 60px;
    }
    .fp_split {
        display: none;
        font-size: 12px;
        text-align: center;
        background-color: #ebe9e9;
        padding: 4px;
    }
    .fp_reviews_title {
        font-size: 28px;
        font-weight: 400;
        color: #435A6F;
        font-family: 'DIN CONDENSED BOLD';
        text-align: left;
        width: 100%;
        padding-bottom: 15px;
        border-bottom: 1px solid #D1D1D2;
        margin-top: 15px;
        text-transform: uppercase;
    }
    #your-shopping-cart #cartReviewWrapper {
        border-top: none !important;
    }
    .fp_review_head {
        display: flex;
        justify-content: space-between;
    }
    .fp_review_head .title,
    .fp_review_head .stars_container {
        font-family: 'Avenir Demi';
        font-weight: 600;
        color: #435A6F;
        font-size: 14px;
    }
    .fp_review_head .stars_container {
        display: flex;
        align-items: center;
    }
    .fp_review {
        padding: 20px 0;
    }
    .fp_review_head .stars_container div {
        margin-right: 6px;
    }
    .fp_review .reviewDescription {
        font-size: 14px;
        font-family: 'Avenir Regular';
        color: #515152;
        margin: 20px 0;
    }
    .fp_review_dots .dot {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        margin: 0 3px;
        background-color: #C4C4C4;
        transition: all .75s;
    }
    .fp_review_dots .dot.active {
        background-color: #435A6F;
    }
    .fp_review_dots {
        display: flex;
        justify-content: center;
    }
    .fp_reviews {
        padding: 0 20px;
    }
    .cartReviewOuterWrapper {
        display: none;
    }
    body#your-shopping-cart .lo-footer {
        display: block !important;
    }
    .lo-footer-newsletter {
        display: none;
    }
    .product-single__header {
        font-family: 'DIN Condensed Bold', 'Din Bold', 'Din Regular', sans-serif !important;
        font-weight: bold;
        font-size: 24px;
        color: #000;
        text-transform: uppercase;
    }
    .product-single__header span:first-child {
        color: #616161;
    }
    .fp_appended .product-single__price {
        font-family: 'Avenir Regular', 'Nunito', Open Sans, sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 20px;
        font-size: 2rem;
        line-height: 20px;
        line-height: 2rem;
        color: #101010;
    }
    .fp_appended .swatch {
        margin: 1em 0;
        padding: 12px 0;
        border-top: none !important;
        margin: 0;
    }
    .cart__product-info-wrapper a.fyl__section__btn.vm__trigger {
        text-decoration: none;
        background: #DFE1E5;
        width: 76px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'AVENIR REGULAR' !important;
    }
    .fullwidth.cart__subtotal-wrapper div:not(.fp_shipping),
    .fullwidth.cart__subtotal-wrapper div:not(.fp_total) {
        font-size: 14px;
    }
    .cart__subtotal-wrapper .cart__subtotal__nobold {
        font-size: 14px !important;
    }
    .cart__subtotal-title.cart__subtotal-title--bold {
        font-size: 16px !important;
    }
    .lo-cart-wrapper .cart__action-btns {
        margin-top: 0px !important;
    }
    .lo-productpage-wrapper .product-single__info-wrapper .lens__wrapper {
        overflow: visible;
    }
    .vm__swatches__link.flex-center {
        display: none !important;
    }
    span.fp_selectedColor,
    span.fp_limited {
        font-family: 'Avenir Regular';
    }
}

@media (max-width: 360px) {
    .fp_appended #ProductPhotoImg {
        height: 180px;
    }
    .fp_container {
        padding: 12px 18px 20px 18px;
    }
}

@media (max-width:340px) {
    .fp_container {
        min-height: 496px;
    }
}